body {
	font-family:  Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #666666;
	background-image: url("../images/mapNoLabel4r.png");
	background-repeat: no-repeat;
}

h1 {
	text-align: center;
	color: #1b75bb;
	margin-bottom: 0px;
}

h2 {
	text-align: center;
	color: #2d2b2b;
	font-weight: bold;
}

h3 {
	text-align: center;
	color: #1b75bb;
	font-weight: bold;
	margin-top: -15px;
}

#wrapper{
	margin-top: 0px;
	margin-left: 300px;
/*	margin-top: -9px;
	margin-left: 218px;
	width:1920px;
	height:1080px;
	background-image: url("../images/riverPath.svg");
	background-repeat: no-repeat;*/
}


/* -------------------------------------------------------------------------- graph */
.elevation{
	position: absolute;
	width:20px;
	height:20px;
	border-radius: 10px;
	background-color: #4799c6;
	text-align: center;
	color: #fff;
	margin-top: 0px;
}
.elevation.seven{
	margin-left: 43px;
	margin-top: 222px;
}
.elevation.six{
	margin-left: 415px;
	margin-top: 215px;
}
.elevation.five{
	margin-left: 465px;
	margin-top: 213px;
}
.elevation.four{
	margin-left: 655px;
	margin-top: 200px;
}
.elevation.three{
	margin-left: 840px;
	margin-top: 165px;
}
.elevation.two{
	margin-left: 930px;
	margin-top: 138px;
}
.elevation.one{
	margin-left: 960px;
	margin-top: 40px;
}

svg { font: 0.6em Century Gothic;}

path.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 4px;
}

.axis path,
.axis line {
    fill: none;
}

.y.axis line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

.elevline{
	width:80px;
	height: 1px;
	background-color: #4799c6;
	position: absolute;
}

.elevline.o{
	top: 250px;
	right:1040px;
}
.elevline.n{
	top: 234px;
	right:1040px;
}
.elevline.m{
	top: 220px;
	right:1040px;
}
.elevline.k{
	top: 190px;
	right:1040px;
}
.elevline.i{
	top: 160px;
	right:1040px;
}
.elevline.g{
	top: 130px;
	right:1040px;
}
.elevline.e{
	top: 100px;
	right:1040px;
}
.elevline.c{
	top: 70px;
	right:1040px;
}
.elevline.a{
	top: 40px;
	right:1040px;
}


.elevline.l{
	top: 204px;
	right:1040px;
}
.elevline.j{
	top: 174px;
	right:1040px;
}
.elevline.h{
	top: 144px;
	right:1040px;
}
.elevline.f{
	top: 114px;
	right:1040px;
}
.elevline.d{
	top: 84px;
	right:1040px;
}
.elevline.b{
	top: 54px;
	right:1040px;
}

#bar{
	width:120px;
	height: 15px;
	background-color: #ecc82e;
	position: absolute;
	top: 230px;
	right:1020px;
	border-radius: 3px;
}


/* -------------------------------------------------------------------------- map */

#map{

}

.riverdot{
	position: absolute;
	width:20px;
	height:20px;
	border-radius: 10px;
	background-color: #4799c6;
	text-align: center;
	color: #fff;
	margin-top: 0px;
}
.riverdot p{
	color: #1b75bb;
	width: 200px;
}

.riverdot.seven{
	margin-left: 43px;
	margin-top: 515px;
}
.riverdot.seven p{
	margin-left: -10px;
	margin-top: 3px;
}

.riverdot.six{
	margin-left: 415px;
	margin-top: 305px;
}
.riverdot.six p{
	margin-left: -32px;
	margin-top: 4px;
}

.riverdot.five{
	margin-left: 470px;
	margin-top: 135px;
}
.riverdot.five p{
	margin-left: -60px;
	margin-top: 35px;
}

.riverdot.four{
	margin-left: 655px;
	margin-top: 175px;
}
.riverdot.four p{
	margin-left: -10px;
	margin-top: -5px;
}

.riverdot.three{
	margin-left: 840px;
	margin-top: 220px;
}
.riverdot.three p{
	margin-left: -77px;
	margin-top: -25px;
}

.riverdot.two{
	margin-left: 930px;
	margin-top: 215px;
}
.riverdot.two p{
	margin-left: -30px;
	margin-top: 2px;
}

.riverdot.one{
	margin-left: 960px;
	margin-top: 292px;
}
.riverdot.one p{
	margin-left: 12px;
	margin-top: 2px;
}

#pgh{
	position: absolute;
	text-align: left;
	margin-top: 0px;
	color: #1b75bb;
	width: 200px;
	margin-left: 395px;
	margin-top: 478px;
}




/* --------------------------------------------------------------------------  control panel */
#dials{
/*	height:180px;
	width:1024px;*/
	margin-top: 580px;
	/*color: #c0e0f2; /* #a2d2ed*/
	/*text-shadow: -1px 0 #c0e0f2, 0 1px #c0e0f2, 1px 0 #c0e0f2, 0 -1px #c0e0f2; *//*1b75bb*/
	font-size: 2em;
	font-weight: bold;
}

.controls{
	float:right;
	margin-right: 730px;
	margin-top:-200px;
}

#clock{
	margin-bottom: 80px;
}

#ph, #temp, #height, #rain, #reset, #raining{
	width:150px;
	height:70px;
	border: 3px solid #1b75bb;
	border-radius: 5px;
	text-align: center;
	font-size:  1.5em;
	font-weight: bold;
	padding-top: 30px;
	margin-bottom: 10px;
	background-color: #fff;
	color: #000;
	opacity: .55;
}

#rain, #reset, #raining {
	margin-top: 190px;
}

#raining{
	opacity: .5;
}

.arrow{
	position: absolute;
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
	border-right:30px solid #fcf537;
	border-radius: 3px;
	margin-top: 67px;
	margin-left: 80px;
}

#timeline{
	position: absolute;
	width:920px;
	height:8px;
	border-radius: 25px;
	background-color: #1b75bb;
	text-align: center;
	color: #fff;
	margin-top: 83px;
	margin-left: 50px;
}

.circleButton{
	position: absolute;
	width:35px;
	height:35px;
	border-radius: 25px;
	border: 1px solid #1b75bb;
	background-color: #4799c6;
	text-align: center;
	color: #fff;
	margin-top: 67px;
}

.seven{
	margin-left: 43px;
}
.six{
	margin-left: 415px;
}
.five{
	margin-left: 470px;
}
.four{
	margin-left: 655px;
}
.three{
	margin-left: 840px;
}
.two{
	margin-left: 930px;
}
.one{
	margin-left: 960px;
}

#instructions{
	position: absolute;
	text-align: center;
	margin-left: 110px;
	margin-top: 120px;
	font-size: .5em;
}

#time-seven{
	position: absolute;
	margin-top: 20px;
	margin-left:40px;
}
#time-six{
	position: absolute;
	margin-top: 20px;
	margin-left: 420px;
}
#time-five{
	position: absolute;
	margin-top: 20px;
	margin-left: 475px;
}
#time-four{
	position: absolute;
	margin-top: 20px;
	margin-left: 660px;
}
#time-three{
	position: absolute;
	margin-top: 20px;
	margin-left: 848px;
}
#time-two{
	position: absolute;
	margin-top: 20px;
	margin-left: 935px;
}
#time-one{
	position: absolute;
	margin-top: 20px;
	margin-left: 975px;
}

#time-label{
	position: absolute;
	margin-top: 20px;
	margin-left: 1025px;
	font-size: 0.5em;
	font-weight: normal;
}

/* --------------------------------------------------------------------------  gauges */

#sevenTempGauge{
	position: absolute;
	top:710px;
	left:250px;
}
#sevenHeightGauge {
	position: absolute;
	top:710px;
	left:250px;
}
#sevenPhGauge {
	position: absolute;
	top:710px;
	left:250px;
}

#sixTempGauge{
	position: absolute;
	top:520px;
	left:610px;
}
#sixHeightGauge{
	position: absolute;
	top:520px;
	left:610px;
}
#sixPhGauge {
	position: absolute;
	top:520px;
	left:610px;
}

#fiveTempGauge{
	position: absolute;
	top:300px;
	left:750px;
}
#fiveHeightGauge{
	position: absolute;
	top:300px;
	left:750px;
}
#fivePhGauge {
	position: absolute;
	top:300px;
	left:750px;
}

#fourTempGauge{
	position: absolute;
	top:340px;
	left:940px;
}
#fourHeightGauge{
	position: absolute;
	top:340px;
	left:940px;
}
#fourPhGauge {
	position: absolute;
	top:340px;
	left:940px;
}

#threeTempGauge{
	position: absolute;
	top:525px;
	left:1115px;
}
#threeHeightGauge{
	position: absolute;
	top:525px;
	left:1115px;
}
#threePhGauge {
	position: absolute;
	top:525px;
	left:1115px;
}

#twoTempGauge{
	position: absolute;
	top:385px;
	left:1230px;
}
#twoPhGauge{
	position: absolute;
	top:385px;
	left:1230px;
}
#twoHeightGauge {
	position: absolute;
	top:385px;
	left:1230px;
}

#oneTempGauge {
	position: absolute;
	top:600px;
	left:1280px;
}
#onePhGauge{
	position: absolute;
	top:600px;
	left:1280px;
}
#oneHeightGauge {
	position: absolute;
	top:600px;
	left:1280px;
}
