body {
	font-family:  Century Gothic, Helvetica, Arial, sans-serif;
	margin: 32px;
	font-size: 14px;
	color: #666666;
	/*font-weight: bold;
	fill: #666;*/
}

h1 {
	text-align: center;
	color: #1b75bb;
	margin-bottom: 0px;
}

h2 {
	text-align: center;
	color: #1b75bb;
	font-weight: normal;
}

#wrapper{
	margin-left: 8em;
}

#day{
	height: 100%;
	vertical-align: center;
}

#gaugeWrapper{
	vertical-align: center;
	float: left;
}

#rightWrapper{
	height: 100%;
	width:5%;
	float: left;
	margin-top: 24%;
}
#leftWrapper{
	height: 100%;
	width:5%;
	float: left;
	margin-top: 24%;
	margin-right: 50px;
}

#leftButton{
	background: url("../images/left.png") center center no-repeat;
	width: 100px;
	height:100px;
	opacity: 1;
}

#rightButton{
	background: url("../images/right.png") center center no-repeat;
	width: 100px;
	height:100px;
	opacity: .3;
}


#ph-gauge g.arc, #temp-gauge g.arc, #height-gauge g.arc, #mPh-gauge g.arc, #mTemp-gauge g.arc, #mHeight-gauge g.arc, #oPh-gauge g.arc, #oTemp-gauge g.arc, #oHeight-gauge g.arc  {
	fill: steelblue;
}

#ph-gauge g.pointer, #temp-gauge g.pointer, #height-gauge g.pointer, #mPh-gauge g.pointer, #mTemp-gauge g.pointer, #mHeight-gauge g.pointer, #oPh-gauge g.pointer, #oTemp-gauge g.pointer, #oHeight-gauge g.pointer {
	fill: #e85116;
	stroke: #b64011;
}

#ph-gauge g.label text, #temp-gauge g.label text, #height-gauge g.label text, #mPh-gauge g.label text, #mTemp-gauge g.label text, #mHeight-gauge g.label text, #oPh-gauge g.label text, #oTemp-gauge g.label text, #oHeight-gauge g.label text {
	text-anchor: middle;
	font-size: 14px;
	font-weight: bold;
	fill: #666;
}

#allegheny, #monongahela, #ohio {
	height: 80%;
	width: 270px;
	font-weight: bolder;
	background-color: #e7f1f8;
	border: 1px solid #e1f0fb;
	float:left;
	margin: 0 1.5em 0 1.5em;
}

#allegheny p, #monongahela p, #ohio p{
	font-weight: normal;
	color: #1b75bb;
	text-align: center;
	margin-top: 0px;
}

#acmetoniaHeight-gauge-label p, #elizabethHeight-gauge-label p, #ohioviewHeight-gauge-label p{
	margin-top: -15px !important;
}

#heading{
	font-size: 18px;
	padding-left: 80px;
	text-align: center;
}

#acmetoniaPh-gauge-label, #elizabethPh-gauge-label, #ohioviewPh-gauge-label, #mGraphLabel,
#acmetoniaTemp-gauge-label, #elizabethTemp-gauge-label, #ohioviewTemp-gauge-label, 
#acmetoniaHeight-gauge-label, #elizabethHeight-gauge-label, #ohioviewHeight-gauge-label{
	margin-top: 2px;
	margin-bottom: 20px;
	font-weight: normal;
	font-size: .7em;
}

#alleghenyPhGauge,#monongahelaPhGauge,#ohioPhGauge,
#alleghenyTempGauge,#monongahelaTempGauge,#ohioTempGauge,
#alleghenyHeightGauge,#monongahelaHeightGauge,#ohioHeightGauge{
	padding-left:38px;
}

#phalleghenyGraph, #phmonongahelaGraph, #phohioGraph {
	margin-left: -5px;
	margin-bottom: 51px;
}

#tempalleghenyGraph, #tempmonongahelaGraph, #tempohioGraph {
	margin-left: -5px;
	margin-bottom: 47px;
}

#heightalleghenyGraph, #heightmonongahelaGraph, #heightohioGraph {
	margin-left: -5px;
	margin-bottom: 47px;
}

svg { font: 0.6em Arial;}

path.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

path.area {
  fill: #e7e7e7;
}

.axis path,
.axis line {
    fill: none;
    stroke: #d3d3d3;
    stroke-width: 1;
    shape-rendering: crispEdges;
}